{{> head}}

{{> navbar }}

<div class="row" style="padding: 5px 15px 0 15px">
    <div class="col-6">
        <h1>WEB SERVICES REST</h1>
        <p>Explicación de WS REST</p>
    </div>
    <div class="col-6">
        <img src="/assets/img/services-rest.png" alt="" class="img-thumbnail">

    </div>
</div>

{{> footer}}